// Place all the styles related to the Doctors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#mixid
{
  display: none;
}
#p5
{
  display: none;
}
#firstname
{
  display:none;
}
#lastname
{
  display:none;
}
#mail
{
  display:none;
}
#phone
{
  display:none;
}
