
    <h1><strong><center>List of Doctors</center></strong></h1>
    <table>

        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Qualifications</th>
          <th>Salary</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Age</th>
          <th>Hospital Id</th>
          <th>Show details</th>
          <th>Edit details</th>
          <th>Delete details</th>
        </tr>

      <tbody id="doctors-list" ><%= render partial: 'doctors', page: @page%></tbody>

    </table>
