<h1><strong><center>Appointment Details</center></strong></h1>
<div class="text-center font-weight-bold">
    Start_date:-<%= @appointments.Start_date %><br>
    End_date:-<%= @appointments.End_date %><br>
    Patient_id:-<%= @appointments.patient_id %><br>
    Doctor_id:-<%= @appointments.doctor_id %><br>
</div>
