<h1><center>Doctor's Information</center></h1>
<table class="table table-hover">
  <tr>
    <th>Doctor Id</th>
    <th>Name</th>
  </tr>
  <% @doctor.each do |d| %>
  <tr>
    <td><%= d['gender'] %></td>
    <td><%= d['first_name'] %></td>
  </tr>
  <% end %>
</table>
