<h1>Doctors#index</h1>
<p>Find me in app/views/doctors/index.html.erb</p>
<h1>Searching for <%= @search_term %></h1>
<table>
  <tr>
    <th>Doctor Id</th>
    <th>Name</th>
  </tr>
  <% @doc.each do |d| %>
  <tr>
    <td><%= d.doctor_id %></td>
    <td><%= d.first_name %></td>
  </tr>
  <% end %>
</table>
