<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>patient</title>
  </head>
  <body bgcolor="wheat">
    <%@arr%>
    <%@array.each do |arr| %>
         <%=arr%>
    <%end%>
  </body>
</html>
